.particle_background {
    display:flex;
    position:relative;
    z-index: -1; /* Set a lower z-index to position it behind other elements */
    width: 6vw;
  }

.heading  {
    position:relative; /* Position the h1 element absolutely */
    left: 50%;
    margin-top: 10vw;
    transform: translate(-50%, -50%); /* Center the element both horizontally and vertically */
    font-size: 3vw; /* Adjust the font size as needed */
    color: #fff; /* Set the text color */
    opacity: 100;
    height: 4vw;
    width: 30vw;
    background: linear-gradient(to right, rgba(118, 191, 255, 0.901) 40%, rgba(27, 242, 238, 0.649) 100%);
    background-size: 200% 100%; /* Set the initial background size to create the easing effect */
    background-position: 100% 50%; /* Set the initial background position to start from the right */

  margin-bottom: 1vw;
    border: 0px solid rgba(255, 255, 255, 0.5);
    border-radius: 40px;
    padding: 1px 1px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.3);


    transition: background-position 1s ease-in, border-color 0.10s ease-in;
    transition: background-color 1s ease;
  }

  /* Define the fadeInOut animation */
@keyframes fadeInOut {
    0%, 100% {
      /* At 0% and 100% opacity, the background color will be transparent */
      background-color: rgba(255, 255, 255, 0);
    }
    50% {
      /* At 50% opacity, the background color will be yellow */
      background-color: rgba(81, 181, 201, 0.5);
    }
  }

  .heading:hover { 
    background-position: 0% 50%;
    border-color: rgba(255, 255, 255, 0.2); /* Fade the border color on hover */

  }

  .cardsContainer {
    display: flex;
    flex-wrap: wrap; /* Allows cards to wrap to the next line when there's not enough space */
    justify-content: center; /* Centers the cards horizontally within the container */
    gap: 2vw; /* Adds spacing between cards */
    margin-top: 0.5vw; /* Add a top margin to separate the cards from the heading */
  }

  .spacing {
    margin-top: 2vw;
  }
  