/* ProjectCard.module.css */

.card {
    background-color: #85D3FF;
    padding: 2vw;
    
    box-shadow: 1 4px 8px rgba(129, 169, 193, 0.507);
    margin: 1vw;
    border: 1px solid #3e515c67;
  border-radius: 5px;
    display:flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw; /* Set a fixed width for each card */
  height: 35vw;
  transition: background-color 0.3s ease ;
  }

  .card:hover {
    background-color: transparent; /* Set the background color to transparent on hover */
  }

  .card.visible {
    opacity: 1; /* When the card has the "visible" class, set opacity to 1 to make it visible */
  }
  
  .image {
    width: 100%;
    height: 400px;
    object-fit:contain;
    border-radius: 20px;
  }
  
  .title {
    font-size: 1.5vw;
    
  }
  
  .description {
    margin-top: 5px;
    font-size: 1vw;
  }
  
  .technologies {
    font-style: italic;
    margin-top: 5px;
    font-size: 1.1vw;
  }
  
  .links {
    margin-top: 1vw;
    color: black;
    border: #000000;
    font-size: 1.1vw;
  }
  
  .links a {
    display: inline-block;
    margin-right: 10px;
    color: #000000;
    border: #000000;
  }
  
  .links a:last-child {
    margin-right: 0;
  }

  .links:hover {
    transform: scale(1.2); /* Increase the scale to make the elements bigger on hover */
  }
  


 /* ExpCard.css */

.exp_card {
  /* Your styles for the card container */
  /* ... */
  width: 30vw; /* Adjust the width as needed */
  min-width: 200px;
  height: 12vw;
  background-color: #ffffffc0;
  border-radius: 30px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 1vw;
  margin: 2vw;
  display: flex;
  box-shadow: 1 4px 8px rgba(129, 169, 193, 0.507);
  margin: 30px;
  border: 1px solid #543e5c67;
  transition: transform 0.6s; /* Add a smooth transition for the flip effect */
  cursor: pointer; 
  
}

.exp_card:hover {
  background-color: transparent; /* Set the background color to transparent on hover */
}

.exp_card.visible {
  opacity: 1; /* When the card has the "visible" class, set opacity to 1 to make it visible */
}

.exp_image {
  /* Your styles for the project image */
  /* ... */
  flex:content;
  max-width: 5vw; /* Adjust the image size as needed */
  height: 5vw;
  object-fit:contain;
  border-radius: 50px;
}

.exp_content {
  /* Your styles for the content container */
  /* ... */
  
  padding-left: 20px; /* Add some space between the image and content */
}

.exp_title {
  /* Your styles for the project title */
  /* ... */
  font-size: 1.5vw;
  text-align: left;
  margin-top: 2px;
  color: #050505;
}

.exp_position {
  /* Your styles for the project role/position */
  /* ... */
  margin-top: 3px;
  font-size: 1.3vw;
  text-align: left;
  color: #0a0a0a;
}

.exp_date {
  /* Your styles for the project date */
  /* ... */
  margin-top: 1px;
  font-size: 1.2vw;
  text-align: left;

  color: #080707;
}

.exp_links {
  /* Your styles for the links container */
  /* ... */
  display: flex;
  justify-content:space-around;
  margin-right: 10px;
  margin-top: 2px;
}

.exp_links a {
  /* Your styles for the links */
  /* ... */
  padding: 5px 10px;
  color: #000000;
  text-decoration: none;
  border: 1px solid #070809;
  border-radius: 4px;
}

.exp_links:hover {
  transform: scale(1.1); /* Increase the scale to make the elements bigger on hover */
}

.exp_links-container {
  display: flex; /* Use flexbox to place links in the same line */
}

.exp_card.flip {
  transform: rotateY(180deg); /* Rotate the card 180 degrees on the Y-axis to show the back side */
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 400px;
  z-index: 2;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  z-index: 3;
}

.description {
  white-space: pre-line;
}

.exp_links button {
  /* Your styles for the buttons */
  /* ... */
  padding: 1vw 2vw;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1vw;
  cursor: pointer;
}

.exp_links button:hover {
  /* Your styles for the button on hover */
  background-color: #0056b3;
}
